<div id="home" class="collapse show" [@list1] >
    <div class="card card-body bg-primary text-white py-5">
        <h2>Welcome to my page</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, quia.</p>
    </div>

    <div class="card card-body py-5 text-dark">
        <h3>My Skills</h3>
        <hr>
        <div *ngFor="let skills of skillSet">
            <h4>{{skills.name}}</h4>
            <div class="progress mb-3">
                <div class={{skills.bootstrapClasses}} [ngStyle]="{'width':skills.width}"></div>
            </div>
        </div>
    </div>
</div>